body {
	background-color: #BC8F8F;
	margin-left:180px;
	margin-right: 180px;
	border:20px solid white;
}

form {
	background-color: white;
	text-align: center;
	margin-left:180px;
	margin-right: 180px;
	font-size:24px;
	border: 2px solid slategrey;
}

h1 {
	text-align: center;
}